/*Default-------------*/

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: #855d5d;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222222;
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
}

h1 {
  font-size: 60px;
  margin-bottom: 40px;
}

h1 span {
  background: #baff00;
  padding: 0 10px;
  color: #222222;
  display: inline-block;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
  margin-bottom: 30px;
}

h4 {
  font-size: 15px;
}

p {
  font-size: 15px;
  color: #727272;
  line-height: 2;
}

img {
  max-width: 100%;
}

input:focus,
select:focus,
button:focus,
textarea:focus {
  outline: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

/*  Header CSS
/*----------------------------------------*/
/* Animación para el menú desplegable */
/* Se elimina la animación por defecto */
/* Comportamiento normal en pantallas grandes */

.navbar {
  z-index: 1000;
  position: relative;
}
.navbar-collapse {
  transition: none; /* Sin transiciones en pantallas grandes */
}

.navbar-toggler {
  border: none;
  z-index: 1051; /* Asegura que el botón siempre esté por encima del menú */
}

.navbar-toggler:focus {
  outline: none;
}

.navbar-nav .nav-link {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  color: #333;
  transition: color 0.2s ease;
}

.navbar-nav .nav-link:hover {
  color: #007bff;
}

/* Comportamiento en pantallas pequeñas */
@media (max-width: 992px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 50%;
    background-color: #f8f9fa;
    transition: right 0.2s ease;
  }

  .navbar-collapse.show {
    right: 0;
  }

  .navbar-nav {
    flex-direction: column;
    text-align: right;
    margin-top: 50px;
  }

  .navbar-nav .nav-item {
    margin-bottom: 1rem;
    justify-content: center;
    text-align: center;
  }

  /* El botón del menú (hamburger) siempre visible */
  .navbar-toggler {
    position: fixed;
    top: 15px;
    right: 15px;
  }
}

/*  Hero Section CSS
/*----------------------------------------*/
/* Hero Section */

.hero-section {
  padding-top: 20px;
  height: 500px;
  display: flex;
  align-items: center;
  min-height: 400px;
  margin-left: 100px;
  margin-right: 100px;
}

.carousel {
  width: 100%;
  max-height: 100%;
}

.carousel-item {
  height: 100%;
}

.carousel-item img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media (max-width: 992px) {
  .hero-section {
    align-items: start;
    margin-left: 50px;
    margin-right: 50px;
  }
  .carousel-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}
/**
.carousel-item img.cover {
  object-fit: cover;
}
**/

/*
.left-bar .left-bar-content {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  margin-bottom: 90px;
}

.social-links a {
  display: block;
  color: #838383;
  margin-bottom: 20px;
  font-size: 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.social-links a:hover {
  color: #baff00;
}

.hero-right-text {
  position: absolute;
  right: 140px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: right center;
  -ms-transform-origin: right center;
  transform-origin: right center;
  bottom: 60%;
  z-index: 30;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 20px;
}

.hero-slider .hero-slide-item {
  width: 100%;
  height: 960px;
  display: table;
}

.hero-slider .hero-slide-item .slide-inner {
  display: table-cell;
  vertical-align: middle;
  position: relative;
}

.hero-slider .owl-nav {
  position: absolute;
  display: inline-block;
  left: 350px;
  bottom: 70px;
}

.hero-slider .owl-nav .owl-prev,
.hero-slider .owl-nav .owl-next {
  display: inline-block;
  margin-right: 30px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 1px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.hero-slider .owl-nav .owl-prev:hover,
.hero-slider .owl-nav .owl-next:hover {
  color: #baff00;
}

.hero-slider .owl-nav .owl-prev i {
  margin-right: 5px;
}

.hero-slider .owl-nav .owl-next {
  margin-right: 0px;
}

.hero-slider .owl-nav .owl-next i {
  margin-left: 5px;
}

.slide-num-holder {
  width: 153px;
  height: 250px;
  position: absolute;
  right: 60px;
  background: rgba(18, 18, 18, 0.95);
  bottom: -40px;
  z-index: 111;
  text-align: right;
  padding-right: 20px;
  padding-top: 60px;
  color: #fff;
  font-weight: 700;
}

.slide-num-holder span {
  font-size: 48px;
  color: #baff00;
  position: relative;
  top: -10px;
  right: -10px;
}

.slide-content {
  margin-left: 350px;
  margin-bottom: 50px;
  padding-left: 190px;
  padding-top: 170px;
  padding-bottom: 70px;
  position: relative;
  opacity: 0;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.slide-content:after {
  position: absolute;
  content: "";
  height: calc(100% + 50px);
  width: 330px;
  border-top: 150px solid #baff00;
  border-left: 150px solid #baff00;
  border-bottom: 90px solid #baff00;
  top: 0;
  left: 0;
  opacity: 0.73;
}

.slide-content h2 {
  color: #fff;
  font-size: 80px;
  line-height: 80px;
}

.owl-item.active .slide-content {
  opacity: 1;
}

*/
